# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aioeasywebdav
aiohttp
appdirs
asn1crypto
async-timeout
attrs
backcall
bcftools
bcrypt
biopython
blas
bleach
boto3
botocore
bwa
bzip2
ca-certificates
cachetools
cairo
certifi
cffi
chardet
click
coloredlogs
configargparse
cryptography
cryptography-vectors
curl
cyvcf2
datrie
decorator
docutils
dropbox
entrypoints
expat
filechunkio
fontconfig
freetype
ftputil
gettext
glib
google-api-core
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-resumable-media
googleapis-common-protos
graphite2
graphviz
harfbuzz
httplib2
humanfriendly
icu
idna
idna_ssl
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
jmespath
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyterlab
jupyterlab_server
krb5
libcurl
libdeflate
libedit
libffi
libgfortran
libgfortran-ng
libiconv
libopenblas
libpng
libprotobuf
libsodium
libssh2
libtiff
libtool
libuuid
libxcb
libxml2
markupsafe
mistune
mkl
mkl_fft
mkl_random
mmtf-python
msgpack-python
multidict
nbconvert
nbformat
ncurses
networkx
notebook
numpy
numpy-base
olefile
openblas
openssl
pandas
pandoc
pandocfilters
pango
paramiko
parso
pcre
perl
pexpect
pickleshare
pillow
pip
pixman
prettytable
prometheus_client
prompt_toolkit
protobuf
psutil
pthread-stubs
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pygraphviz
pynacl
pyopenssl
pyqt
pysftp
pysocks
python
python-dateutil
python-irodsclient
pytz
pyyaml
pyzmq
qt
qtconsole
ratelimiter
readline
reportlab
requests
rsa
s3transfer
samtools
send2trash
setuptools
simplegeneric
sip
six
snakemake
snakemake-minimal
sqlite
tabix
terminado
testpath
tk
tornado
traitlets
urllib3
wcwidth
webencodings
wheel
widgetsnbextension
wrapt
xmlrunner
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxpm
xorg-libxrender
xorg-libxt
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
yaml
yarl
zeromq
zlib
